<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:application-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>cn.inbs.blockchain.web.ApplicationListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:application-mvc.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>*.dx</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CDOServlet</servlet-name>
        <servlet-class>cn.inbs.blockchain.web.BusinessServlet</servlet-class>
        <init-param>
            <param-name>WebServiceBus.xml</param-name>
            <param-value>cn/inbs/blockchain/plugin/service/webservicebus.xml</param-value>
        </init-param>

        <init-param>
            <param-name>TransFilter.xml</param-name>
            <param-value>TransFilter.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CDOServlet</servlet-name>
        <url-pattern>*.cdo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>toolbox.xml</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>velocity.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <!-- 设置用户的cookie信息 -->
    <filter>
        <filter-name>CookieChecker</filter-name>
        <filter-class>cn.inbs.blockchain.web.CookieCheckerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieChecker</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CookieChecker</filter-name>
        <url-pattern>*.cdo</url-pattern>
    </filter-mapping>


    <!-- 验证码 -->
    <servlet>
        <description>验证码</description>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>cn.inbs.blockchain.web.VerifyCodeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/servlet/verifyCode.svl</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error.htm</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error.htm</location>
    </error-page>
</web-app>